<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Min App{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="cover">
        <div class="center cover-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="stack">
                    {% for category, message in messages %}
                        <div class="box {% if category == 'error' %}invert{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
