{% extends "base.html" %}

{% block title %}{% trans %}Forgot Password{% endtrans %}{% endblock %}

{% block content %}
<div class="box box:bordered box:rounded">
    <div class="stack">
        <h2 class="center">{% trans %}Forgot Password{% endtrans %}</h2>
        
        <form method="POST" class="stack">
            {{ form.hidden_tag() }}
            
            <div class="stack stack-small">
                {{ form.email.label }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error-message">
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <div>
                {{ form.submit }}
            </div>
        </form>
        
        <div class="center">
            <a href="{{ url_for('login') }}">{{ _('Back to Login') }}</a>
        </div>
    </div>
</div>
{% endblock %}
